:host {
    display: flex;
    background-color: #ff892f;
    margin: 0 0 12px;
    border-radius: 5px;
}

h2 {
    font-size: 16px;
    margin: 5px 10px;
    width: 100%;
    flex-grow: 1;
}

button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
}

img {
    width: 16px;
    height: 16px;
}
