a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 20px;
    width: 346px;
    height: 220px;
    background-color: #0a212f1f;
    color: inherit;
    text-decoration: none;
}

a img {
    background-color: #c0bebe;
    padding: 16px;
    border-radius: 64px;
    width: 64px;
    height: 64px;
}
