:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form {
    background-color: #e7e4e4;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    padding: 16px;
    max-width: 800px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin: 16px 0;
    text-transform: uppercase;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
}

.link-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 12px;
}

.link-field a {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #0b577a;
    color: white;
    font-size: 14px;
    height: 18px;
    text-decoration: none;
}

.error {
    text-align: center;
    color: #e03033;
    margin: 0 0 12px;
    font-size: 18px;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 4px;
}

.bottom button {
    background: none;
    border: none;
    display: flex;
    padding: 4px;
}

.bottom img {
    width: 20px;
}
