:host {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 20px;
    width: 346px;
    height: 220px;
    background-color: #0a212f1f;
    cursor: pointer;
}

img {
    background-color: #c0bebe;
    border-radius: 64px;
    padding: 8px;
    width: 64px;
    height: 64px;
}
