button {
    background-color: #f58748;
    border: none;
    padding: 16px 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 26px;
    color: #0a212f;
    width: 100%;
}

button:focus {
    outline-color: #0a212f;
}

button:active {
    transform: translate(2px, 2px);
}

img {
    width: 20px;
    height: 20px;
}
