<div [class]="'sidebar' + (opened ? ' opened' : '')">
    <a href="/app">
        <div class="header">
            <img src="/images/logo.svg" alt="Logo CTVR" class="logo" />
            CTVR
        </div>
    </a>
    <hr />
    <nav>
        <ul>
            <app-sidebar-button
                [isActive]="currentPage === '/accident-reports'"
                iconSrc="accident.svg"
                iconAlt="Accident Icon"
                link="/accident-reports"
            >
                Déclarations d'accidents
            </app-sidebar-button>
            <app-sidebar-button
                [isActive]="currentPage === '/third-parties'"
                iconSrc="outsider.svg"
                iconAlt="Outsider Icon"
                link="/third-parties"
            >
                Tiers impliqués
            </app-sidebar-button>
            <hr />
            <app-sidebar-button
                [isActive]="currentPage === '/interventions'"
                iconSrc="repairs.svg"
                iconAlt="Repairs Icon"
                link="/interventions"
            >
                Interventions
            </app-sidebar-button>
            <app-sidebar-button
                [isActive]="currentPage === '/bus'"
                iconSrc="bus.svg"
                iconAlt="Bus Icon"
                link="/bus"
            >
                Bus
            </app-sidebar-button>
            <app-sidebar-button
                [isActive]="currentPage === '/drivers'"
                iconSrc="driver.svg"
                iconAlt="Driver Icon"
                link="/drivers"
            >
                Conducteurs
            </app-sidebar-button>
            <app-sidebar-button
                [isActive]="currentPage === '/routes'"
                iconSrc="route.svg"
                iconAlt="Route Icon"
                link="/routes"
            >
                Parcours
            </app-sidebar-button>
            <app-sidebar-button
                [isActive]="currentPage === '/lines'"
                iconSrc="line.svg"
                iconAlt="Line Icon"
                link="/lines"
            >
                Lignes
            </app-sidebar-button>
            <app-sidebar-button
                [isActive]="currentPage === '/stops'"
                iconSrc="stop.svg"
                iconAlt="Stop Icon"
                link="/stops"
            >
                Arrêts
            </app-sidebar-button>
            @if (showUsers) {
            <hr />
            <app-sidebar-button
                [isActive]="currentPage === '/users'"
                iconSrc="users.svg"
                iconAlt="Users Icon"
                link="/users"
            >
                Utilisateurs
            </app-sidebar-button>
            }
        </ul>
    </nav>
</div>
<button
    [class]="'burger-button' + (opened ? ' opened' : '')"
    type="button"
    (click)="switch()"
>
    <svg viewBox="0 0 100 100">
        <path
            class="line line1"
            d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
        />
        <path class="line line2" d="M 20,50 H 80" />
        <path
            class="line line1"
            d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
        />
    </svg>
</button>
