a {
    color: inherit;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 10;
    transition: transform 0.3s ease;
}

.sidebar:not(.opened) {
    transform: translateX(-100%);
}

.burger-button {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 10;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}

.line {
    fill: none;
    stroke: #0a212f;
    stroke-width: 6;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
}

.line2 {
    stroke-dasharray: 60 60;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 24px;
}

.logo {
    width: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2px;
}

hr {
    width: 80%;
    height: 1px;
    border: none;
    background-color: #d9d9d9;
    border-radius: 1px;
}

@media (min-width: 968px) {
    .sidebar {
        margin: 20px;
        width: 300px;
        height: calc(100% - 40px);
        border-radius: 20px;
        gap: 20px;
    }

    .sidebar:not(.opened) {
        transform: none;
    }

    nav ul {
        gap: 10px;
    }

    .header {
        justify-content: start;
    }

    .burger-button {
        display: none;
    }
}
