:host {
    display: flex;
    height: 100%;
    align-items: center;
}

section {
    flex: 1;
    height: 100%;
    overflow: auto;
    display: flex;
}

section table {
    flex: 1;
    border-spacing: 0 8px;
    margin: auto 0;
    background-color: #e7e4e4;
    padding: 8px 16px;
    border-radius: 16px;
}

section table th {
    padding: 0 4px;
}

section table th div {
    background-color: #09c9c2;
    padding: 4px 8px;
    border-radius: 8px;
}

section table tbody tr td:not(.add-button) {
    background-color: #d0d0d2;
    padding: 4px 8px;
}

section table tbody tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

section table tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

section tbody tr {
    cursor: pointer;
}

.add-button {
    text-align: center;
    background-color: #f58748;
    padding: 8px;
    font-weight: 600;
}

.selected td {
    border-top: 2px solid #0a212f;
    border-bottom: 2px solid #0a212f;
}

.selected td:first-child {
    border-left: 2px solid #0a212f;
}

.selected td:last-child {
    border-right: 2px solid #0a212f;
}

form {
    width: 400px;
    max-height: calc(100vh - 64px);
    overflow: auto;
    background-color: #e7e4e4;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

form > img {
    width: 180px;
    height: 180px;
}

.close-button {
    display: none;
    background: none;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
}

.close-button img {
    width: 20px;
}

.name-line {
    display: flex;
    gap: 8px;
}

.name-line input {
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-container img {
    width: 20px;
    height: 20px;
}

input {
    background-color: #0a212f1a;
    border: none;
    padding: 8px;
    border-radius: 8px;
}

.max-width {
    width: 100%;
}

input:focus-within {
    outline: 1px solid #0a212f;
}

fieldset {
    border: none;
}

legend {
    padding: 4px;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
}

.personnal-infos {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.address-block {
    align-items: start;
}

.address-block img {
    margin-top: 4px;
}

.address-infos .line {
    display: flex;
}

.address-infos input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
}

#address {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#postalCode {
    width: 50%;
    border-bottom-left-radius: 8px;
}

#city {
    border-bottom-right-radius: 8px;
}

.driving-licence-block {
    display: flex;
    gap: 16px;
    background-color: #09c9c2;
    padding: 16px;
    border-radius: 16px;
    align-items: start;
}

.driving-licence-block img {
    width: 64px;
}

.driving-licence-infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-column {
    display: flex;
    flex-direction: column;
}

.driving-licence-infos input {
    background-color: #e7e4e4;
}

.actions {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.actions button {
    background: none;
    border: none;
    display: flex;
    padding: 4px;
    border-radius: 5px;
}

.actions img {
    width: 20px;
    height: 20px;
}

@media (max-width: 1400px) {
    .background {
        position: fixed;
        inset: 0;
        z-index: 20;
        background-color: #00000040;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background:not(.opened) {
        display: none;
    }

    .close-button {
        display: inline-block;
    }
}

@media (min-width: 968px) {
    section table {
        margin: auto 32px;
    }
}
