dialog {
    width: 300px;
}

h2 {
    margin: 0.5em;
    text-align: center;
}

.grid {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    border: none;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    padding: 8px 16px;
}
