:host {
    width: 346px;
    height: 220px;
    border-radius: 24px;
    background-color: #0a212f1f;
    animation: 1s loading ease-in-out infinite;
    background: linear-gradient(
            100deg,
            #00000000 30%,
            #0000000a 50%,
            #00000000 70%
        )
        #0a212f10;
    background-size: 200% 100%;
    background-position-x: 180%;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}
