:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    gap: 16px;
}

.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e7e4e4;
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0d0d2;
    border-radius: 16px;
    height: 3em;
    padding: 0 2em;
    margin: 0;
}

.graph-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: #d0d0d2;
    gap: 32px;
    padding: 16px;
    width: 100%;
}

.graph {
    background-color: white;
    border-radius: 16px;
    width: calc(100vw - 72px);
}

@media (min-width: 968px) {
    .graph-container {
        flex-direction: row;
        gap: 64px;
    }

    .graph {
        width: calc(50vw - 240px);
    }
}
