:host {
    position: relative;
}

p {
    margin: 0;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: #0a212f1f;
    text-align: center;
    border-radius: 24px;
    font-size: 18px;
    box-sizing: border-box;
    width: 346px;
    height: 220px;
    padding: 16px;
    color: inherit;
    text-decoration: none;
}

.date-time {
    background-color: #f58748;
    border-radius: 8px;
    padding: 8px;
}

.route-infos {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.line-number {
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: bold;
}

.driver-name {
    margin-top: 4px;
}

.delete-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background: none;
    border: none;
    padding: 0;
    display: flex;
}

.delete-button img {
    width: 20px;
}

address {
    text-align: left;
    white-space: pre;
}
