:host {
    padding: 0;
    border-radius: 16px;
    border: none;
    box-shadow: 0 2px 10px #0000001a;
    max-width: calc(100% - 48px);
    max-height: calc(100% - 48px);
    overflow: auto;
}

div {
    padding: 24px;
}
