main {
    --background-gradient: linear-gradient(90deg, #ff4c4d 0%, #f58748 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--background-gradient);
}

#container {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    background: #fbefec;
}

#left-page {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 75%;
}

#right-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 2em;
}

form {
    width: 100%;
    max-width: 30rem;
    height: auto;
}

#submit-button {
    text-align: center;
    width: 100%;
    height: 3rem;
    font-size: 24px;
    border-radius: 3rem;
    border: none;
    background-image: var(--background-gradient);
    color: white;
    transition: box-shadow 0.15s;
}

#submit-button:disabled {
    background: #c6cbd3;
}

#submit-button:hover {
    box-shadow: 4px 4px 9px #bebebe;
}

label {
    height: 3rem;
    background-color: #0a212f1a;
    border-radius: 8px;
    margin: 5% 0%;
    display: flex;
    align-items: center;
}

label:focus-within {
    outline: 1px solid #0a212f;
}

.icon {
    padding: 0.5rem;
    height: 100%;
    box-sizing: border-box;
}

input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1200px) or (max-height: 600px) {
    #left-page {
        display: none;
    }
    #right-page {
        width: 100%;
        margin: 24px;
    }
}

@media screen and (max-width: 1000px) {
    #container {
        width: 100%;
        margin: 16px;
        height: 70%;
    }
}

@media screen and (max-width: 450px) {
    .icon {
        padding: 0.7rem;
    }

    input {
        font-size: 18px;
    }

    #submit-button {
        font-size: 20px;
    }
}

@media screen and (max-height: 600px) {
    label {
        margin: 2% 0;
    }

    h1 {
        margin-bottom: 0px;
    }
}

/* ================= ERREUR ================= */

.error {
    color: #ff4c4d;
    text-align: center;
    font-size: 18px;
}
