:host {
    position: fixed;
    bottom: 8px;
    left: 8px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

div {
    max-width: 300px;
    border-radius: 8px;
    padding: 16px 20px;
    font-size: 18px;
    display: flex;
    gap: 8px;
    color: white;
}

p {
    margin: 0;
    max-height: 108px;
    white-space: pre-wrap;
    overflow: hidden;
}

.info {
    background-color: #878787;
}

.success {
    background-color: #15a54c;
}

.error {
    background-color: #b72a2d;
}

button {
    background: none;
    border: none;
    filter: invert(100%);
    padding: 0;
    display: flex;
}

button img {
    width: 18px;
    height: 18px;
}
