:host {
    display: flex;
    height: 100%;
    align-items: center;
}

section {
    flex: 1;
    height: 100%;
    overflow: auto;
    display: flex;
}

section table {
    width: calc(100% - 64px);
    border-spacing: 0 8px;
    margin: auto 32px;
    text-align: center;
    background-color: #e7e4e4;
    padding: 8px 16px;
    border-radius: 16px;
}

section table th {
    padding: 0 4px;
}

section table th div {
    background-color: #09c9c2;
    padding: 4px 8px;
    border-radius: 8px;
}

section table tbody tr td:not(.add-button) {
    background-color: #d0d0d2;
    padding: 4px 8px;
}

section table tbody tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

section table tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

section tbody tr {
    cursor: pointer;
}

.add-button {
    text-align: center;
    background-color: #f58748;
    padding: 8px;
    font-weight: 600;
}

.selected td {
    border-top: 2px solid #0a212f;
    border-bottom: 2px solid #0a212f;
}

.selected td:first-child {
    border-left: 2px solid #0a212f;
}

.selected td:last-child {
    border-right: 2px solid #0a212f;
}

form {
    width: 400px;
    position: relative;
    background-color: #e7e4e4;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    padding: 0;
    border: none;
    background: none;
}

.close-button img {
    width: 20px;
    height: 20px;
}

form > img {
    width: 320px;
}

.name-line {
    display: flex;
    gap: 8px;
}

.name-line input {
    width: 100%;
}

input::placeholder {
    color: rgba(10, 33, 47, 0.6);
}

.header-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.line-number {
    width: 5em;
    height: 3em;
    border: none;
    border-radius: 30px;
    background-color: #09c9c2;
    text-align: center;
}

.line-date {
    width: 12em;
    height: 2.5em;
    border-radius: 15px;
    border: none;
    background-color: #09c9c2;
    text-align: center;
    margin: 0.2em;
    padding-right: 10px;
}

.line {
    width: 12em;
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: #ff892f;
    text-align: center;
}

.actions {
    width: 100%;
    justify-content: end;
    display: flex;
}

.actions button {
    background: none;
    border: none;
    display: flex;
    padding: 4px;
    border-radius: 5px;
}

.actions img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1200px) {
    .map {
        display: none;
    }

    .background {
        position: fixed;
        inset: 0;
        z-index: 20;
        background-color: #00000040;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background:not(.opened) {
        display: none;
    }

    .close-button {
        display: flex;
    }

    form {
        padding: 20px;
    }

    .header-card {
        margin: 1.5em 0;
    }
}
