:host {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    border-spacing: 0 8px;
    background-color: #e7e4e4;
    padding: 8px 16px;
    border-radius: 16px;
    width: 90%;
    margin: 0 auto;
}

table th {
    padding: 0 4px;
}

table th div {
    background-color: #09c9c2;
    padding: 4px 8px;
    border-radius: 8px;
}

table tbody tr td {
    background-color: #d0d0d2;
    padding: 0;
    height: 30px;
}

table tbody tr td:not(:last-child) {
    border-right: 2px solid #b0b0b2;
}

table tbody tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

table tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

table tbody input,
table tbody select {
    height: 100%;
    width: 100%;
    padding: 4px 8px;
    box-sizing: border-box;
    background: none;
    border: none;
}

table tbody button {
    display: inline-flex;
    background: none;
    border: none;
    padding: 4px;
}

table tbody button img {
    width: 20px;
    height: 20px;
}

.header-with-button {
    position: relative;
}

.add-button {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 4px;
    display: flex;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.add-button:hover {
    background-color: #00b894;
}

.add-button img {
    width: 20px;
    height: 20px;
}
