main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
    padding: 8px 24px;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: all 0.3s;
}

a:hover {
    background-color: #007bff;
    color: white;
}
