.card {
    display: grid;
    grid-template-areas:
        "header header"
        "content quote"
        "dates quote"
        "dates delete";
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr auto;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    background-color: #d9d9d9;
    border-radius: 25px;
    padding: 20px;
    width: 346px;
    height: 220px;
    box-sizing: border-box;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.header div {
    background-color: #ff892f;
    padding: 4px 8px;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
}

.content {
    grid-area: content;
    padding: 8px 0;
    margin: 0;
}

.dates {
    grid-area: dates;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dates p {
    margin: 0;
}

.dates span {
    background-color: #09c9c2;
    padding: 2px 4px;
    border-radius: 8px;
}

.quote {
    grid-area: quote;
    justify-self: end;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c4c4c4;
    text-align: center;
    border-radius: 25px;
    gap: 4px;
    height: 90px;
    width: 80px;
    flex-shrink: 0;
    color: inherit;
    text-decoration: none;
}

.quote img {
    width: 24px;
    height: 24px;
}

.delete-button {
    grid-area: delete;
    align-self: end;
    justify-self: end;
    background: none;
    border: none;
    padding: 0;
    display: flex;
}

.delete-button img {
    width: 20px;
    height: 20px;
}
