:host {
    display: flex;
    position: fixed;
    right: 4px;
    top: 0;
    padding: 4px;
    z-index: 10;
    gap: 4px;
}

.button {
    padding: 4px;
}

button {
    background: none;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 24px;
    height: 24px;
    display: block;
}
