:host {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 16px;
    position: relative;
    margin-left: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    max-height: calc(100vh - 40px);
    overflow: auto;
    background-color: #e7e4e4;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
}

ul button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1000px;
    text-align: left;
}

ul button:not(.new-button) {
    background-color: #d0d0d2;
    margin: 8px 0;
    padding: 8px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 300px;
    padding: 16px;
    border-radius: 20px;
    background-color: #e7e4e4;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    padding: 0;
    border: none;
    background: none;
}

.close-button img {
    width: 20px;
    height: 20px;
}

.map {
    width: 70%;
}

button {
    display: flex;
    justify-content: center;
}

.lines {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.lines div {
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: larger;
    background-color: #09c9c2;
    border-radius: 25px;
}

.selected button {
    border: 2px solid #0a212f;
}

.new-button {
    background-color: #f58748;
    font-weight: 600;
    padding: 16px;
    margin: 16px 0;
}

.line-name {
    background-color: #09c9c2;
    border: none;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

.actions {
    width: 100%;
    justify-content: end;
    display: flex;
}

.actions button {
    background: none;
    border: none;
    display: flex;
    padding: 4px;
    border-radius: 5px;
}

.actions img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1200px) {
    .map {
        display: none;
    }

    .background {
        position: fixed;
        inset: 0;
        z-index: 20;
        background-color: #00000040;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background:not(.opened) {
        display: none;
    }

    .close-button {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    form {
        width: 200px;
    }
}
