:host {
    display: flex;
    min-height: 100%;
}

main {
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
}

@media (min-width: 968px) {
    app-sidebar + main {
        padding-left: 340px;
    }
}
